@use "./../utils/vars.sass" as vars
.footer
  background-color: #000
  &__container
    @media screen and (max-width: 768px)
      padding: 30px 15px !important
  &__content
    padding-bottom: 20px
    margin-bottom: 20px
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: row
    gap: 20px
    border-bottom: 1px solid #3B3B3F
    @media screen and (max-width: 576px)
      flex-direction: column

  &__navigation
    padding-right: 80px
    @media screen and (max-width: 576px)
      padding-right: 0
    .menu
      color: vars.$white
      display: flex
      box-shadow: none
      &__list
        display: flex
        flex-direction: row
        flex-wrap: wrap
        column-gap: 40px
        @media screen and (max-width: 992px)
          column-gap: 32px
        @media screen and (max-width: 768px)
          column-gap: 24px
        @media screen and (max-width: 576px)
          column-gap: 20px
        li
          padding: 0
          a
            font-size: 16px
            font-weight: 500
            line-height: 1
            color: vars.$white
            transition: all .3s ease
            &:hover
              color: #FFC107
  &__author
    font-weight: 400
    .highlighted-text
      color: #FFC107

  .back-to-top
    width: 50px
    height: 50px
    display: flex
    opacity: 0
    visibility: hidden
    pointer-events: none
    transition: opacity 0.3s ease, visibility 0.3s ease
    border: 2px solid #FFC107
    border-radius: 50%
    background-image: url('../../img/arrow-top.svg')
    background-size: initial
    background-repeat: no-repeat
    background-position: center center
    position: fixed
    bottom: 100px
    right: 60px

    &.visible
      opacity: 1
      visibility: visible
      pointer-events: auto
    @media screen and (max-width: 1200px)
      right: 15px
    @media screen and (max-width: 576px)
      margin-top: 25px