/*  Fonts  */
/*  Size  */
/*  Main color  */
/*  Neutral color  */
/*px to rem*/
/*  Size to one line  */
.header__container {
  max-width: 1170px;
  width: calc(100% - 8px);
  margin: 0 auto;
  padding: 11px 22px 11px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 33px;
  box-shadow: -2px 9px 37.9px rgba(197, 192, 222, 0.25);
  backdrop-filter: blur(6px);
  z-index: 10;
}
.header__container .logo {
  width: 45px;
  height: 45px;
  transition: transform 1s ease;
}
.header__container .logo:hover {
  transform: rotate(360deg);
  transition: transform 1s ease;
}

.header {
  width: calc(100% - 2px);
  position: absolute;
  top: 0;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease;
}
.header.fixed {
  width: 100%;
  background-color: transparent;
  padding-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3s ease;
}
.header.fixed .header__container {
  width: 100%;
}
.header__btn-wrapper {
  color: #000000;
}
@media screen and (max-width: 992px) {
  .header__btn-wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    grid-gap: 20px;
  }
}
.header__btn {
  padding: 12px 34px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  display: inline-flex;
  border-radius: 30px;
  background-color: #FFC107;
}
.header__btn:hover {
  background-color: #FFD900;
}
@media screen and (max-width: 575px) {
  .header__btn {
    display: none;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu__list {
  display: flex;
}
.nav-menu li {
  padding: 0 32px;
}
.nav-menu li:last-child {
  display: none;
}
@media screen and (max-width: 576px) {
  .nav-menu li:last-child {
    display: block;
  }
}
.nav-menu li a {
  font-weight: 600;
  transition: all 0.3s ease;
  color: #ffffff;
  position: relative;
}
.nav-menu li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  border-radius: 10px;
  background-color: #FFC107;
  transition: width 0.3s ease;
}
.nav-menu li a:hover {
  color: #FFC107;
}
.nav-menu li a:hover:before {
  width: 100%;
}
.nav-menu li a:first-child {
  padding-left: 0;
}
.nav-menu li a:last-child {
  padding-right: 0;
}
@media screen and (max-width: 992px) {
  .nav-menu {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 6px 6px rgba(34, 74, 152, 0.3);
    top: 67px;
    left: 0;
    z-index: 999;
  }
  .nav-menu.active {
    display: block;
    background-color: #000000;
  }
  .nav-menu__list {
    flex-direction: column;
  }
  .nav-menu__list li {
    padding: 10px 0;
    text-align: center;
  }
}

.burger {
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: none;
}
@media screen and (max-width: 992px) {
  .burger {
    display: block;
  }
}

.burger span {
  display: block;
  height: 3px;
  background: #ffffff;
  margin: 5px 0;
  transition: 0.4s;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.about-us__container {
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 992px) {
  .about-us__container {
    grid-template-columns: 60% 40%;
  }
}
@media (max-width: 768px) {
  .about-us__container {
    grid-template-columns: 100%;
  }
}
.about-us__text {
  font-size: 18px;
  margin-bottom: 16px;
}
.about-us__text:last-child {
  margin-bottom: 0;
}
.about-us__image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  transform: translateX(15px);
}
@media screen and (max-width: 992px) {
  .about-us__image-container {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .about-us__image-container {
    padding: 30px 0;
    margin-left: -15px;
    margin-right: -15px;
    background-image: url("../../img//about-us-decoration.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(0);
  }
}
.about-us__chief {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 12px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .about-us__chief {
    margin: 0 auto;
    position: static;
    top: unset;
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .about-us__decoration {
    display: none;
  }
}
.about-us .counter {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .about-us .counter {
    gap: 16px;
  }
}
.about-us .counter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.about-us .counter__number {
  color: #FFC107;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.about-us .counter__number > span[data-count] {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .about-us .counter__number > span[data-count] {
    font-size: 28px;
  }
}
.about-us .counter__text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  color: #FFC107;
}
@media screen and (max-width: 576px) {
  .about-us .counter__text {
    font-size: 14px;
  }
}

.chefs .swiper-slide {
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;
}
.chefs .swiper-slide:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  transition: all 0.8s ease;
}
.chefs .swiper-slide:hover .chefs__description {
  opacity: 1;
  transition: all 0.8s ease;
}
.chefs .swiper-slide img {
  transition: all 0.8s ease;
}
.chefs .swiper-slide:hover img {
  transform: scale(1.1);
  transition: all 0.8s ease;
}
.chefs__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  transition: all 0.8s ease;
}
.chefs__social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.chefs__social-link-item a {
  transition: all 0.3s ease;
}
.chefs__social-link-item a:hover {
  color: #FFC107;
  transition: all 0.3s ease;
}
.chefs__name {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}
.chefs__position {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: 600;
  color: #FFC107;
}

.menu__navigation {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.menu__navigation .menu-btn {
  padding: 8px 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu__navigation .menu-btn:hover {
  color: #FFC107;
}
.menu__navigation .menu-btn.active {
  color: #FFC107;
  transition: all 0.3s ease;
}
@media screen and (max-width: 992px) {
  .menu__navigation .menu-btn {
    padding: 4px 8px;
    font-size: 16px;
  }
}
.menu__items-container {
  min-height: 476px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 992px) {
  .menu__items-container {
    gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  .menu__items-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .menu__items-container {
    grid-template-columns: 100%;
  }
}
.menu__item-element {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}
.menu__image-wrapper {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.menu__item-img {
  width: 100%;
  transition: all 0.3s ease;
}
.menu__item-img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.menu__item-price {
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #FFC107;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 8px;
}
@media screen and (max-width: 992px) {
  .menu__item-price {
    padding: 16px;
    font-size: 18px;
  }
}
.menu__item-name {
  font-size: 24px;
}
@media screen and (max-width: 992px) {
  .menu__item-name {
    font-size: 20px;
  }
}
.menu__item-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}

.contacts {
  background: url("./../img/bg-contacts.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media screen and (max-width: 576px) {
  .contacts__wrapper {
    grid-template-columns: 100%;
  }
}
.contacts__information-list {
  margin: 20px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.contacts__information-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.contacts__information-item a {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.contacts__information-item a:hover {
  color: #FFD900;
}
.contacts__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.contacts__social li {
  transition: all 0.3s ease;
}
.contacts__social li:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
  color: #FFD900;
}
.contacts__working-hours {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.contacts__table-hours {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.contacts__table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 6px 0;
}
.contacts__table-row::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px dotted #fff;
  z-index: 0;
}
.contacts__map {
  width: 100%;
  margin-top: 60px;
}

.footer {
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  .footer__container {
    padding: 30px 15px !important;
  }
}
.footer__content {
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  border-bottom: 1px solid #3B3B3F;
}
@media screen and (max-width: 576px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__navigation {
  padding-right: 80px;
}
@media screen and (max-width: 576px) {
  .footer__navigation {
    padding-right: 0;
  }
}
.footer__navigation .menu {
  color: #ffffff;
  display: flex;
  box-shadow: none;
}
.footer__navigation .menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media screen and (max-width: 992px) {
  .footer__navigation .menu__list {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .footer__navigation .menu__list {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media screen and (max-width: 576px) {
  .footer__navigation .menu__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.footer__navigation .menu__list li {
  padding: 0;
}
.footer__navigation .menu__list li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  transition: all 0.3s ease;
}
.footer__navigation .menu__list li a:hover {
  color: #FFC107;
}
.footer__author {
  font-weight: 400;
}
.footer__author .highlighted-text {
  color: #FFC107;
}

#hero-slider {
  color: #ffffff;
}
#hero-slider .sp-layer {
  white-space: normal !important;
}
#hero-slider .slide {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  #hero-slider .slide {
    padding-left: 20px;
  }
}
#hero-slider .slide__price {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  color: #FFC107;
}
#hero-slider .slide__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}
#hero-slider .slide__ingredients {
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  #hero-slider .slide__ingredients {
    max-width: 320px;
  }
}
#hero-slider .slide__order {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  color: #FFC107;
}
#hero-slider .slide__delivery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
}
#hero-slider .slide__cta {
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 34px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  display: inline-flex;
  border-radius: 30px;
  color: #000000;
  background-color: #FFC107;
}
#hero-slider .slide__cta:hover {
  background-color: #FFD900;
}

.back-to-top {
  width: 50px;
  height: 50px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border: 2px solid #FFC107;
  background-color: transparent;
  border-radius: 50%;
  background-image: url("../../img/arrow-top.svg");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  bottom: 100px;
  right: 60px;
  cursor: pointer;
}
.back-to-top.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media screen and (max-width: 1200px) {
  .back-to-top {
    right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .back-to-top {
    margin-top: 25px;
  }
}

.hero {
  min-height: 500px;
  box-shadow: -13px 19px 72.4px rgba(93, 113, 190, 0.1);
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  background-color: #000000;
  line-height: 1.44;
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6, p, span, figure, select, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

section {
  background-color: #000000;
}

#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

.sp-mask {
  width: 100% !important;
}

.section-title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 600;
}

.section-subtitle {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 40px;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  font-weight: 600;
  color: #FFC107;
  position: relative;
}
.section-subtitle::before, .section-subtitle::after {
  content: "";
  position: absolute;
  bottom: 16px;
  width: 24px;
  height: 2px;
  background-color: #FFC107;
}
.section-subtitle::before {
  left: 0;
}
.section-subtitle::after {
  right: -40px;
}

#cookie-msg {
  padding: 30px 25px !important;
  line-height: 24px;
  z-index: 9999;
}
#cookie-msg .btn-aceptar {
  padding: 5px 14px !important;
  border-radius: 20px !important;
}